.section-box {
  display: flex;
  flex-direction: row;
  margin-top: 220px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 150px;
  width: 90%;
  height: 700px;
  background-color: #04293A;
  padding: 30px;
  gap: 1 40px;
  border-radius: 2px 50px;
}

.h2 {
  color: #9FB8AD;
  text-shadow: 2px 0px 2px 0px;
  font-size: 45px;
  padding: 35px;
  margin: 10px;
  text-align: center;
}

.ImagenLogo {
  width: 250px;
  height: 80px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.parrafo1 {
  font-size: 20px;
  padding: 35px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font: 1.5em Source Serif Pro;
  color: white;
  font-weight: bold;
}

.texto1 {
  width: 100%;
  margin-top: -80%;
  font-size: 45px;
  text-align: center;
  text-shadow: 3px 4px 2px #0c0c0c;
  border: 1px solid aquamarine;
}

.texto2 {
  width: 100%;
  margin-top: -5%;
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: 3px 4px 2px black;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 480px;
  background-color: #064663;
  padding: 30px;
  border-radius: 2px 50px;
  position: relative;
}

.divDescr {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.divDescr__bienve {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 400px;
  border: 1px solid #292929;
}

.row {
  width: 100%;
}

.imagen {
  width: 900px;
  border: 3px dotted red;
  border-radius: 25%;
  box-shadow: 5px 15px 25px 1px;
}

.divWorks {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #04293A;
}

.divWorks .divWorks__1 {
  margin-left: 100px;
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.divWorks .divWorks__2 {
  margin-left: 100px;
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.divWorks .divWorks__3 {
  margin-left: 100px;
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.divWorks .divWorks__4 {
  margin-left: 100px;
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.imgBook {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 9px 2px rgba(255, 255, 255, 0.3);
  object-fit: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
}

body {
  color: #e6aa56;
  width: 100%;
  background-color: #041C32;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: aqua;
  text-decoration: none;
}

/* Header */
/* Redefinir color font Nav */
.header {
  width: 100%;
  height: 100%;
}

.nav-link {
  display: flex;
  color: white;
  font-size: 20px;
}

.active {
  color: #ff5050 !important;
}

.navbar-nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 300px;
  gap: 30px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ECB365;
}

.navbar-expand-lg {
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  padding: 30px;
}

/*Reset Nav*/
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Goldman', cursive;
  font-family: 'Source Serif Pro', serif;
}
/*# sourceMappingURL=style.css.map */