body {
    color: #e6aa56;
    width: 100%;
/*     background-color: #adbbc7; */
background-color: #292935;
    background-repeat:no-repeat;
    background-size: cover;
}

a {
    color: aqua;
    text-decoration: none;
}