/* Header */

/* Redefinir color font Nav */
.header {
width: 100%;
height: 100%;
}

.nav-link {
    color: white;
    font-size: 20px;

}

.navbar-brand {
    color: yellow;
}

.active {
    color: white !important;
}

.navbar-nav {
    color: rgba(255, 255, 255, 0.6)
    }

    