/* CONTENEDORES */

.section-box {
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: row;
    padding: 30px;
    gap: 40px;
    border: 1px solid #55556e;
    background: linear-gradient(145deg, #343444, #3e3e50);
    box-shadow:  
    26px 36px 32px #1f1f28,
    -26px -16px 32px #8d8d9e;
    margin-top: 220px;
    margin-bottom: 150px;
    
}

.bg-light {
    background-color: transparent !important;

}

.carousel-item {
    height: 100vh;
    min-height: 300px;

}
.carousel-caption {
    bottom: 220px; 
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    margin-top: 25px;
}

.carousel-caption p {

    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: darkorange;
    padding: 10px 30px; 
    display: inline-block;
    color: #000; 
    margin-top: 15px; 
}

.imagen-carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.txt1 {
    font-size: 2.5rem;
    font-family: 'Oswald';
    font-weight: 700;
    color: #f7b901;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;

}

.txt2 {
    font-size: 3.5rem;
    font-family: 'Oswald';
    font-weight: 600;
    padding-top: 20px;
}
.txt3 {
    font-size: 1.5rem;
    font-style: italic;
    padding-top: 40px;
    color: #f7b901;
}



.container-1 {

    width: 95%;
    height: 100%;
    padding: 60px;
    position: relative;
    margin-bottom: 130px;
    border: 1px solid #55556e;
    border-radius: 2%;
    background: linear-gradient(145deg, #343444, #3e3e50);
    box-shadow:  26px 36px 32px #161618,
                -8px -8px 23px #ffffff;
    overflow: hidden;
    max-width: 100%;
} 

/* BIENVENIDOS - IMAGEN LEA */

.divDescr__bienve1{
    width: 100%;
    height: 100%;
}

.divDescr__bienve2 {
    width: 100%;
    height: 100%;

}
.imagen {
    width: 100%;
    border: 3px dotted red;
    border-radius: 14%;
    box-shadow: 5px 15px 25px 1px;
}
.h2 {
    color: #9FB8AD;
    text-shadow: 2px 0px 2px 0px;
    font-size: 45px;
    padding: 35px;
    margin: 10px;
    text-align: center;
}
.ImagenLogo {
    width: 250px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.parrafo1 {
    font-size: 20px;
    padding: 35px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font: 1.5em Source Serif Pro;
    color: white;
    font-weight: bold;
}

.texto1 {
    width: 100%;
    font-size: 34px;
    text-align: center;
    text-shadow: 3px 4px 2px rgb(12, 12, 12);
    text-transform: uppercase;

}

.texto2 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.imgBook {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 9px 2px rgba(255, 255, 255, 0.3);
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 5px;

   
}
 #textBox {
        background-color: rgba(0,0,0,0.6);
        height: 100%;
        width: 100%;
        filter:brightness(1);
        
      }
#text {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    filter:brightness(1);
    padding: 30px;
    border-radius: 30px;
  }


.h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}



